name: '{{ name }}'
description: '{{ description }}'
package: 'Bulma'
type: theme
base theme: drulma
core_version_requirement: ^8 || ^9

regions:
  primary_menu: 'Navbar'
  header: 'Hero Header'
  title: 'Hero body (title)'
  secondary_menu: 'Hero footer (tabs)'
  breadcrumb: 'Breadcrumb'
  highlighted: 'Highlighted'
  help: 'Help'
  content: 'Content'
  sidebar_first: 'Sidebar First'
  sidebar_second: 'Sidebar Second'
  footer: 'Footer'

libraries:
  - '{{ machine_name }}/global'
